body {
    margin: 0px;
    padding: 0px;
    background-color: #ffb3b3;
}

@font-face {
    font-family: "Coustard";
    src: url("../fonts/Coustard-Regular.ttf");
}

.home h1 {
    font-family: "Coustard";
    font-size: 128px;
    text-align: center;
    text-shadow: 5px 5px 5px #ff0000;
    color: #fafafa;
    position: relative;
    z-index: 2;
    margin: 80px;
}

.home p {
    font-family: roboto;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color: #fafafa;
    padding-bottom: 80px;
    width: 80%;
    margin: 0 auto;
}

.home header {
    padding: 5px;
    width: 106px;
}

.home header h2 {
    font-family: roboto;
    font-size: 32px;
    color: #fafafa;
    margin: 0px;
    border: 3px solid #fafafa;
    width: 100px;
    text-align: center;
    padding: 10px;
}

.home header div {
    display: none;
    position: absolute;
    z-index: 2;
}

.home header div a {
    display: block;
    color: #fafafa;
    font-family: roboto;
    font-size: 24px;
    text-align: center;
    border: 3px solid #fafafa;
    border-top: 0px;
    width: 100px;
    padding: 10px;
}

.home header h2:hover {
    cursor: pointer;
    color: #ffb3b3;
}

.home header:hover div {
    display: block;
    cursor: pointer;
}

.home header div a:hover {
    color: #ffb3b3;
}

.home {
    background: url("../images/calabresa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.arrow {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-bottom: 15px solid #fafafa;
    border-right: 15px solid #fafafa;
    transform: rotate(45deg);
    cursor: pointer;
}

.about {
    height: 100vh;
}

.about div h2 {
    font-family: roboto;
    font-size: 32px;
    text-align: center;
}

.about div p {
    font-family: roboto;
    color: #544646;
}

.about div {
    width: 80%;
    margin: 0 auto;
}

.about div ul {
    display: inline-flex;
    text-align: center;
}

.about div ul li {
    display: inline;
}

.about div ul li img {
    width: 70%;
}

footer {
    background-color: #004043;
}
footer p {
    margin: 0px;
    text-align: center;
    color: #fafafa;
    padding: 40px;
}

.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1em;
    display: none;
}

.go-top img {
    width: 30px;
    opacity: 0.5;
}

.go-top:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.about div .carousel img {
    margin: 0 auto;
    border-radius: 20px;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}